$grid-background-color: #99d46b;
$main-color: black;

html,
body {
  color: $main-color;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: .8vw;
  overflow: hidden;
}

.c-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;

  &__grid-container {
    position: relative;
    background-color: $grid-background-color;
    width: 100%;
    height: 100%;
    overflow: scroll;

    &__interaction-grid {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;

      &__cell {
        box-sizing: border-box;
        line-height: 0;
        outline: 2px solid #88c15b;
      }
    }

    &__game-grid,
    &__interaction-grid {
      display: grid;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      &__cell-wrapper {
        position: relative;
        display: inline-block;
      }

      &__cell {
        aspect-ratio: 1/1;

        /*        &:hover {
          outline: 10px solid rgba(255, 255, 255, 0.5);
          outline-offset: -10px;
          position: relative;
          z-index: 10;
        }*/

        rail-cell,
        station-cell {
          display: inline-block;
          vertical-align: top;
          transition: all 0.1s ease-in-out;
          position: relative;
          width: 100%;
          height: 100%;

          train-cell {
            position: absolute;
          }
        }
      }
      .active {
        outline: 10px solid #cbeab4;
        outline-offset: -8px;
        position: relative;
      }
    }
  }

  &__ui-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    justify-content: center;
    pointer-events: none;

    &__help {
      position: fixed;
      top: 2vh;
      right: 4vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      &__icon {
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        width: 2vw;
        height: 2vw;
        padding: 1vw;
        border-radius: 100vw;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(8px);
        transition: all 0.3s ease;

        svg {
          width: auto;
          height: 100%;
        }

        path {
          transition: all 0.3s ease;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.6);
          cursor: pointer;

          path {
            fill: #fff98b;
          }
        }
      }

      &__content {
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(8px);
        padding: 1vw 2vw;
        margin-top: 2vh;
        border-radius: 1vw;
        color: white;
        width: 15vw;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s, max-height 0.3s;

        &.visible {
          opacity: 1;
        }

        h3 {
          font-weight: 900;
          margin-bottom: .5vh;
        }

        ul {
          margin-top: .8vh;
          margin-bottom: 3vh;

          li {
            margin-bottom: .5vh;
          }
        }

        span {
          font-weight: bold;
        }

      }
    }

    &__control-panel {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 2vh;
      pointer-events: auto;

      button {
        background: none;
        border: none;

        &:hover {
          cursor: pointer;
        }

        svg {
          width: 2vw;
          height: auto;

          path {
            transition: fill 0.3s ease;
          }
        }
      }

      #decelerate,
      #play-pause-reset,
      #accelerate {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 1vw;
        backdrop-filter: blur(8px);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      #decelerate,
      #accelerate {
        svg {
          width: 1.8vw;
          height: auto;
        }
      }

      #decelerate {
        margin-right: 1.5vw;
        padding: 0.8vh 0.5vw 0.8vh 0.25vw;

        path {
          fill: #edf8e5;
        }

        &:hover path {
          fill: white;
        }
      }

      #play-pause-reset {
        padding: 1vw 0.8vw;
        display: flex;
        flex-direction: row;
        column-gap: 0.5vw;

        #play-pause-button {
          #play-icon,
          #pause-icon {
            display: block;
          }

          path {
            fill: #edf8e5;
          }

          &:hover path {
            fill: white;
          }
        }
        #reset-button {
          svg {
            width: 1.8vw;
            height: auto;

            path {
              fill: #d7966d;
            }

            &:hover path {
              fill: #d0755a;
            }
          }
        }
      }

      #accelerate {
        margin-left: 1.5vw;
        padding: 0.8vh 0.25vw 0.8vh 0.5vw;

        path {
          fill: #edf8e5;
        }

        &:hover path {
          fill: white;
        }
      }
    }
  }
}

#circle-double, #circle-triple {
  display: flex;
  padding: 0;
  margin: 1em auto;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  z-index: 1000;
  backdrop-filter: blur(8px);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grid-background-color;
    width: 25%;
    height: 25%;
    border-radius: 50%;
  }
}

li {
  &.double {
    overflow: hidden;
    position: absolute;
    width: 50%;
    height: 100%;
    transform-origin: 0% 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid $grid-background-color;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }

    &.first-child {
      left: 0;
      transform-origin: 100% 100%;
      opacity: 0.8;
      border: 2px solid $grid-background-color;
    }

    &:nth-child(2) {
      right: 0;
      transform-origin: 0% 0%;
      opacity: 0.8;
      border: 2px solid $grid-background-color;
    }

    .icon-double {
      display: flex;
      width: 40%;
      height: 40%;
      margin-left: 30%;
      margin-top: 60%;
      position: absolute;
      justify-content: center;
      align-items: center;
    }
  }

  &.triple {
    overflow: hidden;
    position: absolute;
    top: -20%;
    right: -20%;
    width: 70%;
    height: 70%;
    transform-origin: 0% 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid $grid-background-color;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }

    &:first-child {
      transform: rotate(0deg) skewY(30deg);
      opacity: 0.8;

      .icon-triple {
        transform: skewY(-30deg);
      }
    }

    &:nth-child(2) {
      transform: rotate(120deg) skewY(30deg);
      opacity: 0.8;

      .icon-triple {
        transform: skewY(-30deg) rotate(240deg);
      }
    }

    &:nth-child(3) {
      transform: rotate(240deg) skewY(30deg);
      opacity: 0.8;

      .icon-triple {
        transform: skewY(-30deg) rotate(30deg);
      }
    }

    .icon-triple {
      display: block;
      width: 50%;
      height: 50%;
      margin-left: 15%;
      margin-top: 30%;
      position: absolute;
    }
  }
}

#remove-switch, #remove-rail {
  .icon-triple {
    margin-left: 25%;
    margin-top: 35%;
  }

  path {
    transition: all 0.1s ease-in-out;
  }
  &:hover {
    path {
      stroke: #d0755a;
    }
  }
}

#rotate-switch, #rotate-rail {
  .icon-triple {
    margin-left: 15%;
    margin-top: 40%;
  }
  path {
    transition: all 0.1s ease-in-out;
  }
  &:hover {
    path {
    stroke: #5b5b5b;
    }
  }
}

#change-switch {
  .icon-triple {
    margin-left: 15%;
    margin-top: 25%;
  }
  path {
    transition: all 0.1s ease-in-out;
  }
  &:hover {
      path {
      stroke: #ab765e;
      }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}