$grid-background-color: #99D46B;
$main-color: black;

html, body {
  color: $main-color;
  margin: 0;
}

.c-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;

  &__grid-container {
    position: relative;
    background-color: $grid-background-color;
    width: 100%;

    &__grid {
      display: grid;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      &__cell-wrapper {
        position: relative;
        display: inline-block;
      }

      &__cell {
        aspect-ratio: 1/1;
        box-sizing: border-box;
        line-height: 0;
        outline: 2px solid #88C15B;

        &:hover {
          outline: 10px solid rgba(255, 255, 255, 0.5);
          outline-offset: -10px;
          position: relative; z-index: 10
        }

        rail-cell, station-cell {
          display: inline-block;
          vertical-align: top;
          transition: all 0.1s ease-in-out;
          position: relative;

          train-cell {
            position: absolute;
          }
        }
      }
    }
  }
}
